<html>

<head>

    <title>Add Game</title>
   
    {% include '/static/header.html'  ignore missing %}


    <script type="text/javascript">
        function validateForm() {
            var steamLink = document.getElementById("steamLink").value;
            if (steamLink == "") {
                toastr.error("All fields must be filled out");
                return false;
            }
            var steamLinkRegex = new RegExp("https:\/\/store\.steampowered\.com\/app\/[0-9]+\/");
            if (!steamLinkRegex.test(steamLink)) {
                toastr.error("Invalid Steam URL format");
                return false;
            }
            let game_id = steamLink.match(/\/app\/(\d+)\//);
            if (game_id && game_id[1]) {
                game_id = game_id[1];
            } else {
                toastr.error("Unable to extract game ID from the Steam URL");
                return false;
            }
            $.ajax({
                type: "POST",
                url: "https://" + window.location.hostname + ":8037/game/addGame",
                contentType: "application/json",
                data: JSON.stringify({ game_id:game_id }), // This is what you had it your yaml file, live with it lmao
                success: function (data) {
                    if (data.response && data.response === "Operation Successful") {
                        toastr.success("Game added successfully");
                    } else {
                        toastr.error(data.response);
                    }
                },
                statusCode: {
                    400: function () {
                        toastr.error("Bad Request: Please check your input and try again.");
                    },
                    404: function () {
                        toastr.error("Not Found: The requested resource could not be found.");
                    },
                    500: function () {
                        toastr.error("Internal Server Error: Please try again later.");
                    }
                }
            });
        }
    </script>

</head>

<body>
    {% include '/static/navbar.html'  ignore missing %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        Add a Steam Game to database
                    </div>
                    <div class="card-body">
                        <form action="addGame" method="post">
                            <div class="mb-3">
                                <label for="steamLink" class="form-label">Steam URL</label>
                                <input type="text" class="form-control" id="steamLink" name="steamLink" placeholder="Enter Steam URL" required>
                            </div>
                            <button type="button" class="btn btn-primary w-100" onclick="validateForm()">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>