<html>

<head>
    <title>forgotPassword</title>

    {% include '/static/header.html'  ignore missing %}


    <!-- Main scripts -->
    <script type="text/javascript">
        function validateForm() {
            $.ajax({
                type: "POST",
                url: "https://" + window.location.hostname + ":8037/forgotPassword",
                success: function (data) {
                    if (data.response && data.response === "Operation Successful") {
                        window.location.href = "https://" + window.location.hostname + ":8037/emailSent";
                    } else {
                        toastr.error(data.response);
                    }
                },
                statusCode: {
                    400: function () {
                        toastr.error("Bad Request: Please check your input and try again.");
                    },
                    404: function () {
                        toastr.error("Not Found: The requested resource could not be found.");
                    },
                    500: function () {
                        toastr.error("Internal Server Error: Please try again later.");
                    }
                }
            });
        }

        function validateEmail(email) {
            var re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return re.test(email);
        }
    </script>
</head>

<body>
    {% include '/static/navbar.html'  ignore missing %}
    <div class="container-xxl mt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                <div class="card shadow-sm">
                    <div class="card-header text-center">
                        <h1>Reset Password</h1>
                    </div>
                    <div class="card-body">
                        <form action="/forgotPassword" method="post" class="needs-validation" novalidate>
                            <button type="button" class="btn btn-primary w-100" onclick="validateForm()">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>