<html>

<head>
    <title>Login</title>

    {% include '/static/header.html'  ignore missing %}


    <!-- Main scripts -->
    <script type="text/javascript">
        function validateForm() {
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            if (username == "" || password == "") {
                alert("Username and password must be filled out");
                return false;
            }

            $.ajax({
                type: "POST",
                url: "https://" + window.location.hostname + ":8037/login",
                contentType: "application/json",
                data: JSON.stringify({ username: username, user_password: password }),
                success: function (data) {
                    if (data.response && data.response === "Operation Successful") {
                        window.location.href = "user/" + data.user_id;
                    }
                },
                statusCode: {
                    404: function () {
                        toastr.error("Invalid username or password: Please check your input and try again.");
                    },
                    400: function () {
                        toastr.error("Bad Request: Please check your input and try again.");
                    }
                }
            });
        }
    </script>
</head>

<body>
    {% include '/static/navbar.html'  ignore missing %}
    <div class=" container-xxl mt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                <div class="card shadow-sm">
                    <div class="card-header text-center">
                        <h1>Login</h1>
                    </div>
                    <div class="card-body">
                        <form action="user/login" method="post" class="needs-validation" novalidate>
                            <div class="mb-3">
                                <label for="username" class="form-label">Username:</label>
                                <input type="text" class="form-control" name="username" id="username" required>
                                <div class="invalid-feedback">
                                    Please enter a username.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password:</label>
                                <input type="password" class="form-control" name="password" id="password" required>
                                <div class="invalid-feedback">
                                    Please enter a password.
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary w-100" onclick="validateForm()">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>