<html>

<head>

    <title>Home</title>
   
    {% include '/static/header.html'  ignore missing %}

</head>

<body>
    {% include '/static/navbar.html'  ignore missing %}
    <div class="container-xxl mt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                <div class="card shadow-sm">
                    <div class="card-header text-center">
                        <h1>Welcome to Gamer Wishlist Awesome</h1>
                    </div>
                    <div class="card-body">
                        <p>This is a web app that allows users to search/add steam URLs and add games to their wishlist.</p>
                        <p>Click on the navigation bar above to start navigating!</p>
                        <br>
                        <img src="https://preview.redd.it/graphic-design-is-my-passion-and-frog-from-it-v0-k6gpwam2mck81.png?width=640&crop=smart&auto=webp&s=50c47ddf1f6c7cc5bde7f07e7372113dfc805a92" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>