<html>

<head>
    <title>Search and Add Game</title>

    {% include '/static/header.html' ignore missing %}

    <script type="text/javascript">
        function searchGame() {
            var gamename = $('#game_name').val();
            if (gamename.length >= 1) {
                $.ajax({
                    type: "GET",
                    url: "https://" + window.location.hostname + ":8037/game/fetchGameByName/" + gamename,
                    success: function (data) {
                        if (data.response && data.response === "Operation Successful") {
                            var games = data.games;
                            var resultsHtml = '<ul class="list-group">';
                            games.forEach(function (game) {
                                resultsHtml +=
                                    `<li class="list-group-item d-flex justify-content-between align-items-center" id="game-${game.game_id}">
                                        <h5><a href="${game.url}" target="_blank">${game.game_name}</a></h5>
                                        <button class="btn btn-primary mt-2" onclick="addToWishlist(${game.game_id})">Add to Wishlist</button>
                                    </li>`;
                            });
                            resultsHtml += '</ul>';
                            $('#searchResults').html(resultsHtml);
                        } else {
                            toastr.error(data.response);
                        }
                    },
                    error: function () {
                        toastr.error("An error occurred while searching for games.");
                    }
                });
            } else {
                toastr.warning("Please enter a character to search.");
            }
        }

        function addToWishlist(game_id) {
            $.ajax({
                url: "https://" + window.location.hostname + ":8037/game/wishGame/" + game_id,
                method: 'GET',
                success: function (data) {
                    if (data.response && data.response === "Operation Successful") {
                        toastr.success('Game added to wishlist successfully.');
                    } else {
                        toastr.error('Failed to add game to wishlist.');
                    }
                },
                error: function (error) {
                    toastr.error('Failed to add game to wishlist, if this issue persists, please contact an administrator.');
                }
            });
        }

        function validateForm() {
            var steamLink = document.getElementById("steamLink").value;
            if (steamLink == "") {
                toastr.error("All fields must be filled out");
                return false;
            }
            var steamLinkRegex = new RegExp("https:\/\/store\.steampowered\.com\/app\/[0-9]+\/");
            if (!steamLinkRegex.test(steamLink)) {
                toastr.error("Invalid Steam URL format");
                return false;
            }
            let game_id = steamLink.match(/\/app\/(\d+)\//);
            if (game_id && game_id[1]) {
                game_id = game_id[1];
            } else {
                toastr.error("Unable to extract game ID from the Steam URL");
                return false;
            }
            $.ajax({
                type: "POST",
                url: "https://" + window.location.hostname + ":8037/game/addGame",
                contentType: "application/json",
                data: JSON.stringify({ game_id: game_id }),
                success: function (data) {
                    if (data.response && data.response === "Operation Successful") {
                        toastr.success("Game added successfully");
                    } else {
                        toastr.error(data.response);
                    }
                },
                statusCode: {
                    400: function () {
                        toastr.error("Bad Request: Please check your input and try again.");
                    },
                    404: function () {
                        toastr.error("Not Found: The requested resource could not be found.");
                    },
                    500: function () {
                        toastr.error("Internal Server Error: Please try again later.");
                    }
                }
            });
        }

        $(document).ready(function () {
            var current_user = {{ current_user|tojson|safe }};
            if (current_user) {
                var addGameSectionHtml = `
                    <div class="col-md-6" id="addGameSection">
                        <div class="card shadow-sm">
                            <div class="card-header text-center">
                                <h2>Add a Steam Game to database</h2>
                            </div>
                            <div class="card-body">
                                <div class="mb-3">
                                    <label for="steamLink" class="form-label">Steam URL</label>
                                    <input type="text" class="form-control" id="steamLink" name="steamLink" placeholder="Enter Steam URL" required>
                                </div>
                                <button type="button" class="btn btn-primary w-100" onclick="validateForm()">Register</button>
                            </div>
                        </div>
                    </div>`;
                $('.row').append(addGameSectionHtml);
                $('#searchGameSection').removeClass('col-md-12').addClass('col-md-6');
            } else {
                $('#searchGameSection').removeClass('col-md-6').addClass('col-md-12');
            }
        });
    </script>

</head>

<body>
    {% include '/static/navbar.html' ignore missing %}
    <div class="container-xxl mt-5">
        <div class="row">
            <div class="col-md-6" id="searchGameSection">
                <div class="card shadow-sm">
                    <div class="card-header text-center">
                        <h1>Search Game</h1>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="game_name" class="form-label">Game Name</label>
                            <input type="text" class="form-control" id="game_name" placeholder="Enter Game Name">
                        </div>
                        <button type="button" class="btn btn-primary w-100" onclick="searchGame()">Search</button>
                        <div id="searchResults" class="mt-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>