<html>
<head>
    <title>Support</title>

    {% include '/static/header.html'  ignore missing %}


</head>
<body>
    {% include '/static/navbar.html'  ignore missing %}
    <h1>Support</h1>
    <p>For support, please contact us at <a href="mailto:ivanderp@unb.ca">ivanderp@unb.ca</a> or at <a href="mailto:llosier1@unb.ca>">llosier1@unb.ca</a>.</p>
    <marquee scrollamount="5" direction="right" behavior="alternate" style="font-size: x-large;">
        <div style="position: sticky;z-index: 2;">If this isn't helpful then maybe try <a href="https://en.wikipedia.org/wiki/Special:Random" target="_blank">here</a></div>
        <div style="position:relative;top:0;left:0;width: 644pxpx;height: 508px;">
            <a style="width: inherit; height: inherit; display: inline-grid;" href="https://en.wikipedia.org/wiki/Special:Random" target="_blank">>
                <img style="width: inherit; height: inherit; position: absolute; bottom:0; left:0; z-index: 1;" src="https://upload.wikimedia.org/wikipedia/commons/5/5d/BurningFlame0.gif">
                <img style="width: inherit;z-index: 600;position: relative;top: 0;margin: auto;width: 498px;height: 373px;" src="https://en.wikipedia.org/static/images/mobile/copyright/wikipedia-wordmark-en.svg">
            </a>
        </div>
    </marquee>
    <p>Maybe this could be helpful:</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/toOA5LDoTSw?si=qX9FfSnZ96cqyV-J" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></body>
    <br>
    <br>
    <br>
    <p>Maybe <a src="https://github.com/ramou/recipes">this</a> is the most helpful:</p>
</html>